<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gra Domek</title>
</head>
<body>
<div id="domek">
    <div>
    {{ tura }}
 <table>
 <tr>
     <td><img src="../static/images/znacznik.png" alt="karta"></td>
     {% for t in taliaDodatkow %}
        <td><img src="../static/images/{{ t.nazwa }}.png" alt="karta"></td>
     {% endfor %}
 </tr>
 <tr>
{% for t in taliaPomieszczen %}
        <td><img src="../static/images/{{ t }}.png" alt="karta"></td>
{% endfor %}
 </tr>
 </table>
    </div>

</div>
</body>
</html>