<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gra Domek</title>
    <link href="/static/style/style15.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="nag">Wybierz tryb</h3>
        </div>

        <div class="opcje">
            <p><a href="JedenGracz/3" role="button"><div class="przycisk">Jednoosobowy</div></a></p>
            <p><a href="JedenGracz/2" role="button"><div class="przycisk">Dwuosobowy</div></a></p>
            <p><a href="JedenGracz/1" role="button"><div class="przycisk">Trzyosobowy</div></a></p>
        </div>

        <div class="zasady">
            <p><a href="Zasady" role="button"><div class="przycisk">Zasady gry</div></a></p>

            </div>

    </div>
</body>

</html>