<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gra Domek</title>
</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="nag">Gra Domek</h3>
        </div>

        <div class="opcje">
            <p><a href="JedenGracz" role="button">Jeden gracz</a></p>
            <p><a href="HeatSeat" role="button">Heat-seat (dwóch lub więcej graczy przy jednym komputerze</a></p>
            <p><a href="Multiplayers" role="button">Multiplayer (wiele graczy przy różnych komputerach)</a></p>
        </div>

        <div class="zasady">
            <p><a href="Zasady" role="button">Zasady gry</a></p>

            </div>

    </div>
</body>

</html>