<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gra Domek</title>
    <link href="/static/style/style15.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="nag">Gra Domek</h3>
        </div>

        <div class="opcje">
            <p><a href="ileGraczy" role="button"><div class="przycisk">Gra z komputerem</div></a></p>
            <p><a href="HeatSeat" role="button"><div class="przycisk">4 graczy przy jednym komputerze</div></a></p>
        </div>

        <div class="zasady">
            <p><a href="Zasady" role="button"><div class="przycisk">Zasady gry</div></a></p>

            </div>

    </div>
</body>

</html>