<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/style/style15.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="przycisk">{{ x }}</div>
<div class="domek">
 <table>
{% for t in domek %}
    <tr>
    {% for i in domek[t] %}
         {% if i != '0' and i != 'dach' and i != 'tlo' %}
        <td><img src="/static/images/{{ i.nazwa }}.png" alt="karta" class="kartyDomku">
            {% if i.wyposazenie != 0 %}
            <br>
            {{i.wyposazenie.tytul}}
        {% endif %}
        {% else %}
        <td><img src="/static/images/{{ i }}.png" alt="karta" class="kartyDomku">
        {% endif %}
        {% if i == '0' %}
            <br>

            <a href="/polozenie/{{ t }}/{{ loop.index0 }}/{{ kartaPomieszczen.id }}/{{ kartaDodatkow.id }}"> <div class="przycisk">Poloz tutaj kartę</div> </a>
        <br>
            <a href="/polozenie/{{ t }}/{{ loop.index0 }}/{{ 58 }}/{{ kartaDodatkow.id }}"> <div class="przycisk"> Poloz tutaj kartę jako pusty pokój</div></a>
        {% endif %}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
 </table>
    <div class="ogrodek">
    {% for x in gracz.ogrodek%}
        <h3>Twój ogródek</h3>
    {{x.tytul}}
 {% endfor %}
    </div>
</div>
<div>
    <h2> Karta do położenia </h2>
    <br>
    <img src="/static/images/{{ kartaPomieszczen.nazwa }}.png" alt="karta" width="10%">
</div>
</body>
</html>