<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zasady gry Domek</title>
    <link href="/static/style/style9.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        <div class="header">
            <h1 class="nag">Zasady gry Domek</h1>
        </div>


        <div class="zasady">
            <h3> <a href="poczatek"> Powrót do strony głównej </a></h3>
            <h3> <a href="https://www.youtube.com/watch?v=H8W7DRkD7lE&feature=emb_title"> Zasady w formie video</a></h3>
        <h3> Przebieg rozgrywki: </h3>
            <p> Rozgrywka trwa 12 rund. </p>
            <p> Każdy gracz ma własną planszę Domku. </p>
            <p> Na torze dobierania kart w dwóch rzędach umieszczane są 4 karty ze stosu kart dodatków (górny rząd) i 5 kart ze stosu
                kart pomieszczeń (dolny rząd). Pierwszym polem w rzędzie kart dodatków jest pole pierwszego gracza, na którym nie kładzie
                się żadnej karty. </p>
            <p> Znacznik pierwszego gracza zostaje przydzielono losowo </p>
            <p>W każdej rundzie, zaczynając od osoby posiadającej znacznik pierwszego gracza i kolejno, zgodnie z kierunkiem ruchu wskazówek
                zegara, każdy gracz musi wybrać parę kart (kartę pomieszczeń oraz kartę dodatków, która znajduje się nad daną kartą
                pomieszczenia). Wyjątkiem jest pierwsza karta pomieszczenia, nad którą znajduje się pole pierwszego gracza.
                Jeśli gracz wybierze pierwszą kartę pomieszczenia, wtedy znacznik pierwszego gracza przechodzi do danego gracza i od niego
                zaczyna się kolejna runda. Jeśli żaden z graczy nie wybierze pierwszej karty pomieszczenia, wtedy znacznik pierwszego gracza
                zostaje u tej osoby, która miała go ostatnio. </p>
            <p> Gdy gracz wybierze parę kart to musi kartę pomieszczenia umieścić na swojej planszy Domku. Kartę dodatku wykorzystuje
                według z opisem zamieszczonym na niej. </p>
            <p> Gdy wszyscy gracze wybiorą karty, pozostałe karty należy odłożyć na stos kart odrzuconych (osobne stosy dla kart pomieszczeń
                i kart dodatków). Następnie na tor należy wyłożyć ponownie 4 karty dodatków i 5 kart pomieszczeń. Tak należy postępować
                do ostatniej, dwunastej, rundy. Po tym następuje koniec gry i podliczanie punktów. </p>

            <h3> Zasady wykładania kart pomieszczeń: </h3>
            <p> Pobraną z toru kartę pomieszczenia wykłada się na wybrane puste pole swojej planszy Domku. </p>
            <p> Raz wyłożonej karty pomieszczenia nie można przekładać na inne miejsce (na to pozwalają tylko niektóre karty z talii kart
                dodatków). </p>
            <p> Nie trzeba zapełniać pół na planszy Domku od lewej do prawej strony. Na danej kondygnacji mogą pozostać puste miejsca między
                pomieszczeniami (w dalszej części rozgrywki zostaną one zapełniane).</p>
            <p> Poniżej karty pomieszczenia nie może znajdować się puste pole.</p>
            <p> Karty pomieszczeń piwnicznych muszą trafić do najniższej kondygnacji, a pozostałe pomieszczenia muszą trafić do dwóch górnych
                kondygnacji.</p>
            <p> Podczas rozbudowy nie wolno przekroczyć maksymalnej wielkości pomieszczenia określonej na jego karcie. </p>
            <p> Jeśli z jakiegoś powodu nie chcemy wyłożyć karty, to można wyłożyć ją rewersem do góry. Stanie się pustym pomieszczeniem,
                które na koniec gry przynosi 0 punktów. Poniżej pustego pomieszczenia nie może być puste pole. Puste pomieszczenia mogą
                ze sobą sąsiadować.</p>
            <p> Pomieszczenia rozbudowujemy w poziomie (w pionie są one traktowane za odrębne pomieszczenia i punktuje się je osobno).
                Mogą składać się z 1 karty, 2 kart lub 3 kart (specjalne oznaczenia na każdej karcie). </p>
            <p> Jeśli pomieszczenie osiągnęło swój maksymalny rozmiar, to staje się ono pomieszczeniem zamkniętym. Obok zamkniętego
                pomieszczenia nie można położyć karty tego samego rodzaju. </p>
            <p> Położenie żetonu wyposażenia na karcie pomieszczenia automatycznie zamyka pomieszczenie i nie można go już rozbudowywać.</p>

            <h3> Punktacja </h3>
            <h4> Punkty za pomieszczenie: </h4>
            <p> Większość pomieszczeń zapewnia liczbę punktów, zależną od ich rozmiaru (czyli liczby pomieszczeń tego samego rodzaju
                sąsiadujących ze sobą na tym samym piętrze). Liczba punktów jest wskazana w ikonie na karcie. </p>

            <h4>Punkty za żetony pomieszczeń:</h4>
            <p>Każdy żeton wyposażenia ma nadrukowaną wartość punktową. </p>

            <h4> Punkty za funkcjonalność Domku: </h4>
            <p> Jeśli Domek posiada łazienki na każdym z dwóch pięter, to gracz otrzymuje 3 dodatkowe punkty. </p>
            <p>Jeśli Domek posiada łazienkę, kuchnię i sypialnia, to gracz otrzymuje 3 dodatkowe punkty. Pomieszczenia mogą być dowolnej
                wielkości oraz w dowolnych (dozwolonych) miejscach planszy Domku. Te dodatkowe punkty nie mnożą się, to znaczy za posiadanie
                2 łazienek, 2 kuchni i 2 sypialni w Domku, gracz nie dostaje 6 dodatkowych punktów. </p>

            <h4>Punktacja za dach: </h4>
            <p>Kompletny dach to 4 karty dachu. Jeśli gracz ma ich więcej, to wybiera tylko 4 karty, które będą budować dach jego Domku,
                a za resztę nadmiarowych kart dachu nie otrzymuje się punktów. Jeśli gracz ma mniej niż 4 karty dachu, wtedy jego dach jest
                niekompletny i nie otrzymuje żadnych punktów. </p>
            <p> Za zbudowanie niejednolitego dachu (4 karty w różnych kolorach), gracz otrzymuje 3 punkty. </p>
            <p> Za zbudowanie jednolitego dachu (4 karty w tych samym kolorze), gracz otrzymuje 8 punkty. </p>
            <p>Niektóre karty dachu posiadają okno. Każda karta dachu z oknem zapewnia dodatkowy punkt, jeśli dach jest kompletny (4 karty). </p>

            <h3> Wygrana </h3>
            <p> Wygrywa ta osoba, która zgromadziła największą liczbę punktów. W przypadku remisu, zwycięstwo jest współdzielone. </p>

            </div>

</div>
</body>

</html>